body {font-family: 'Times New Roman', Times, serif;
    font-size: 11pt;
margin-left: 30%;
margin-right: 30%;}

.c{text-align: center;}
.r{text-align: right;}
.f20{font-size: 20pt;}
.f14{font-size: 14pt;}
.f12{font-size: 12pt;}
.f18{font-size: 18pt;}
.f16{font-size: 16pt;}
.fs{font-style: italic;}
.fwn{font-weight: normal;}
.fwb{font-weight: bold;}


.l{float:left;
    margin: 0px 15px 15px 0;
    width: 40%;
}
